header {
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: #3A0044;
    height: 250px;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
main {
    
    color: black;
    font-size: 2opx;
    
    
    
}
.aboutus {
    font-size: 20px;
    margin-right: 400px;

}

main img {
    height: 250px;
    width: 250px;
    
    
}

h1 {
    text-decoration: underline;
    
}


    
    
    


h2  {
    text-align: center;
    font-size: 32px;
    text-decoration: underline;
}

.g30 {

    width: 212px;

    
}

.m3 {
    width: 212px;
    
}

.rs6 {
    width: 212px;
    
}


    


.AUTO {
    display: flex;
    justify-content: space-around;
    

}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



h4 {
    text-align: center;
}

footer {
    background-color: #4A1C1C;
}


h5 {
    font-size: 20px;
    height: 100px;
    color: white;
    
}

article:hover {
    border: 5px solid royalblue;
    padding-right: 35px;
    
}


